.navbar{
    background-color: var(--nav-color);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-brand img{
    width: 60px;
    height: 60px;
}
.navbar-brand span{
    color: var(--logo-color);
}

.navbar-brand {
    margin-right: 5px;
    font-family: 'Andada Pro', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-size: 40px; 
    color: var(--logoLetra-color);
  
}

.imgMenu{
    width: 30px;
    height: 30px;
}

